# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5436
DATABASE_USER=payment_user
DATABASE_PASSWORD=payment_pass
DATABASE_NAME=payment_db

# gRPC Configuration
GRPC_PORT=50055

# Order Service Configuration
ORDER_SERVICE_URL=localhost:50054
