# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5435
DATABASE_USER=order_user
DATABASE_PASSWORD=order_pass
DATABASE_NAME=order_db

# gRPC Configuration
GRPC_PORT=50054

# Product Service Configuration
PRODUCT_SERVICE_URL=localhost:50053
